.header {
  @include display-flex(flex);
  @include flex-direction(column);
  @include justify-content(center);
  img {
    padding: 10px 10px 10px 0;
  }
  &__top {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    height: 30px;
    margin: 30px 0;
    li {
      list-style: none;
      padding: 1.5%;
    }
    a {
      color: #000;
      text-transform: uppercase;
    }
    &__location {
      @include display-flex(flex);
      @include flex-direction(row);
      @include flex-grow(1);
      @include align-items(center);
    }
    &__timework {
      @include display-flex(flex);
      @include flex-direction(row);
      @include align-items(center);
      @include flex-grow(1);
    }
    &__nav {
      @include display-flex(flex);
      @include align-items(center);
      @include flex-grow(2);
      @include justify-content(flex-end);
      ul {
        @include display-flex(flex);
        @include justify-content(flex-end);
        @include align-items(center);
        padding-left: 0;
        width: 100%;
      }
    }
  }
  &__middle {
    @include display-flex(flex);
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0 0 10px 0;
    &__logo {
      @include flex-grow(1);
    }
    &__search {
      @include flex-grow(6);
      position: relative;
      z-index: 20;
      input {
        height: 38px;
        width: 400px;
        border-color: #3c9dd0;
        padding-left: 20px;
        z-index: 20;
        &::placeholder {
          color: #afafaf;
        }
      }
      span {
        position: absolute;
        left: 380px;
        top: 3px;
        cursor: pointer;
      }
    }
    &__callback {
      @include flex-grow(4);
      text-align: right;
      z-index: 20;
      p {
        font-size: 20px;
        margin: 0;
      }
      a {
        margin-top: 5px;
      }
    }
  }
  &__bottom {
    margin-top: 20px;
    position: relative;
    float: left;
    z-index: 20;
    &__nav {
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
      .dropdown {
        position: relative;
        width: 100%;
        li.drop {
          float: left;
          width: 130px;
          position: relative;
          margin-right: 10px;
          a.border span:first-child:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-top: 2px solid #dadae2;
            border-left: 2px solid #dadae2;
          }
          a.border span:first-child:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-top: 2px solid #dadae2;
            border-right: 2px solid #dadae2;
          }
          a.border span:last-child:before {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-bottom: 2px solid #dadae2;
            border-left: 2px solid #dadae2;
          }
          a.border span:last-child:after {
            content:'';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-bottom: 2px solid #dadae2;
            border-right: 2px solid #dadae2;
          }
          a.border:hover span:before {
            border-color: #ffa438;
          }
          a.border:hover span:after {
            border-color: #ffa438;
          }
          a.border:after {
            content:"";
            display: none;
            position: absolute;
            right: 5px;
            top: 40%;
            border-left: 5px solid transparent;
            border-top: 5px solid #000;
            border-right: 5px solid transparent;
          }
          a.border:hover:after {
            content:"";
            display: block;
            border-left: 5px solid transparent;
            border-top: 5px solid #000;
            border-right: 5px solid transparent;
          }
          a {
            display: block;
            padding: 15px 5px;
            color: #000;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

          }
        }
        ul {
          display: none;
          position: absolute;
          top: 50px;
          left: 0;
          width: 150px;
          background-color: #ffffff;
          z-index: 20;
          li {
            border-bottom: 1px solid #ccc;
            a {
              display: block;
            }
          }
        }
      }
    }
  }
}