.header {
  @include display-flex(flex);
  @include flex-direction(column);
  @include justify-content(center);
  img {
    padding: 10px 10px 10px 0;
  }
  .container {
    @include breakpoint(max-width 712px) {
      padding: 0;
    }
  }
  &__top {
    @include breakpoint(max-width 712px) {
      display: none;
    }
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    height: 30px;
    margin: 30px 0;
    @include breakpoint(max-width 992px) {
      height: 60px;
    }
    li {
      list-style: none;
      padding: 1.5%;
    }
    a {
      color: #000;
      text-transform: uppercase;
    }
    .wrap {
      @include display-flex(flex);
      @include breakpoint(max-width 992px) {
        @include flex-direction(column);
      }
    }
    &__location {
      @include display-flex(flex);
      @include flex-direction(row);
      @include flex-grow(1);
      @include align-items(center);
      padding-right: 20px;

    }
    &__timework {
      @include display-flex(flex);
      @include flex-direction(row);
      @include align-items(center);
      @include flex-grow(1);

    }
    &__nav {
      @include display-flex(flex);
      @include align-items(center);
      @include flex-grow(2);
      @include justify-content(flex-end);
      ul {
        @include display-flex(flex);
        @include justify-content(flex-end);
        @include align-items(center);
        padding-left: 0;
        width: 100%;
      }
    }
  }
  &__middle {
    @include breakpoint(max-width 712px) {
      @include flex-direction(column-reverse);
    }
    @include display-flex(flex);
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0 0 10px 0;
    &__logo {
      @include flex-grow(1);
    }
    &__search {
      @include breakpoint(max-width 712px) {
        @include order(-1);
        margin: 0px 5px;
        width: 100%;
      }
      @include flex-grow(6);

      position: relative;
      z-index: 20;

      form {
        @include breakpoint(max-width 992px) {
          display: block;
          position: relative;
          width: 310px;
          margin: 0 auto;
        }
      }
      input {
        display: block;
        position: relative;
        height: 38px;
        width: 400px;
        border-color: #3c9dd0;
        padding-left: 20px;
        z-index: 20;
        &::placeholder {
          color: #afafaf;
        }
        @include breakpoint(max-width 992px) {
          width: 100%;
        }
        @include breakpoint(max-width 370px) {
          width: 270px;
        }
      }
      span {
        position: absolute;
        left: 380px;
        top: 3px;
        cursor: pointer;
        z-index: 20;
        @include breakpoint(max-width 992px) {
          left: 300px;
        }
        @include breakpoint(max-width 370px) {
          left: 250px;
        }
      }
    }
    &__callback {
      @include breakpoint(max-width 712px) {
        @include display-flex(flex);
        @include flex-direction(row);
        @include order(1);
        margin-bottom: 10px;
      }
      @include flex-grow(4);
      text-align: right;
      z-index: 20;
      p {
        font-size: 20px;
        margin: 0;
        @include breakpoint(max-width 712px) {
          font-size: 15px;
          margin-top: 5px;
        }
      }
      a {
        margin-top: 5px;
        @include breakpoint(max-width 712px) {
          padding-top: 15px;
          margin-left: 10px;
        }
      }
    }
  }
  &__bottom {
    @include breakpoint(max-width 712px) {
      width: 100%;
    }
    margin-top: 20px;
    position: relative;
    float: left;
    z-index: 20;
    &__nav {
      @include breakpoint(max-width 712px) {
        display: none;
      }
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
      .dropdown {
        position: relative;
        width: 100%;
        li.drop {
          float: left;
          width: 130px;
          position: relative;
          margin-right: 10px;
          a.border span:first-child:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-top: 2px solid #dadae2;
            border-left: 2px solid #dadae2;
          }
          a.border span:first-child:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-top: 2px solid #dadae2;
            border-right: 2px solid #dadae2;
          }
          a.border span:last-child:before {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-bottom: 2px solid #dadae2;
            border-left: 2px solid #dadae2;
          }
          a.border span:last-child:after {
            content:'';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 8px;
            height: 8px;
            background: transparent;
            border-bottom: 2px solid #dadae2;
            border-right: 2px solid #dadae2;
          }
          a.border:hover span:before {
            border-color: #ffa438;
          }
          a.border:hover span:after {
            border-color: #ffa438;
          }
          a.border:after {
            content:"";
            display: none;
            position: absolute;
            right: 5px;
            top: 40%;
            border-left: 5px solid transparent;
            border-top: 5px solid #000;
            border-right: 5px solid transparent;
          }
          a.border:hover:after {
            content:"";
            display: block;
            border-left: 5px solid transparent;
            border-top: 5px solid #000;
            border-right: 5px solid transparent;
          }
          a {
            display: block;
            padding: 15px 5px;
            color: #000;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
        ul {
          display: none;
          position: absolute;
          top: 50px;
          left: 0;
          width: 250px;
          background-color: #ffffff;
          z-index: 20;
          li {
            width: 100%;
            position: relative;
            float: left;
            clear: both;
            padding: 5px 10px;
            box-sizing: border-box;
            &:hover {
              background-color: #e4e4e4;
              cursor: pointer;
            }
            &:hover .arrow-menu {
              display: block;
            }
            &:hover >ul{
              display: block;
            }
            img {
              padding-top: 15px;
              display: block;
              position: relative;
              float: left;
            }
            .arrow-menu {
              display: none;
              float: right;
              padding-top: 20px;
            }
            a {
              display: block;
              position: relative;
              float: left;
            }
            ul {
              display: none;
              position: absolute;
              left: 249px;
              top: 0;
              width: 130px;
              li {
                text-align: center;
                padding: 0px 10px;
                height: 57px;
              }
            }
          }
        }
      }
    }
    &__nav-mobile {
      @include breakpoint(max-width 712px) {
        display: block;
      }
      display: none;
      width: 100%;
      height: 60px;
      background-color: #2c3e50;
      position: relative;
      float: left;
      .menu-line {
        float: left;
        height:auto;
        width:auto;
        padding-top: 15px;
        margin: 0 20px;
        span {
          height: 2px;
          width: 20px;
          margin: 3px;
          float: left;
          background-color: #fff;
          clear: both;
        }
      }
      .menu-btn {
        color: #fff;
        display: block;
        padding-top: 20px;
        width: 100%;
        height: 40%;
      }
      .menu-mob {
        background-color: #fff;
        display: none;
        position: relative;
        float: left;
        width: 100%;
        padding-left: 0;
        overflow: hidden;
        li {
          display: block;
          position: relative;
          list-style: none;
          width: 100%;
          clear: both;
          float: left;
          padding-top: 10px;
          box-sizing: border-box;
          &:hover {
            background-color: #e4e4e4;
          }
          &:hover .arrow-menu{
            transform: rotate(90deg);
            padding-left: 15px;
            transition: .5s;
          }
          img {
            display: block;
            position: relative;
            float: left;
            padding-top: 15px;
          }
          .gyro {
            padding-left: 15px;
          }
          a {
            display: block;
            float: left;
            color: #6d6d6d;
            padding: 10px 15px;
            width: 70%;
            @include breakpoint(max-width 430px) {
              width: 55%;
            }
          }
          .arrow-menu {
            float: right;
            transition: .5s;
          }
          ul {
            display: none;
            padding-left: 0;
            margin: 0;
            float: left;
            width: 100%;
            li {
              background-color: #fff;
              width: 100%;
            }
          }
        }
      }
    }
  }
}