.card-of-product {
  background-color: #fafafa;
  padding-top: 30px;
  &__menu {
    display: block;
    position: relative;
    float: left;
    width: 200px;
    padding-left: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    z-index: 5;
    padding-bottom: 7px;
    box-sizing: border-box;
    @include breakpoint(max-width 725px) {
      position: relative;
      width: 100%;
      border: none;
    }
    li {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      list-style: none;
      &:first-of-type {
        text-transform: uppercase;
      }
      &:hover:first-of-type {
        background-color: #fff;
      }
      &:hover:first-of-type a{
        background-color: #fff;
      }
      @include breakpoint(max-width 725px) {
        width: 50%;
        text-align: center;
        &:first-of-type {
          width: 100%;
        }
      }
      @include breakpoint(max-width 400px) {
        text-align: left;
        padding-left: 5%;
        width: 45%;
      }
      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 12px;
        color: #2c3e50;
        img {
          padding-right: 10px;
          width: 40px;
          height: 40px;
          object-fit: none;
          vertical-align: middle;
        }
        &:hover {
          background-color: #f3f3f3;
        }
      }
      a.active {
        background-color: #f3f3f3;
      }
    }
  }
  .breadcrumbs {
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 0;
    @include breakpoint(max-width 725px) {
      width: 100%;
      margin-top: 10px;
    }
    li {
      display: block;
      position: relative;
      float: left;
      list-style:none;
      a {
        color: #bfbfbf;
      }
    }
  }
  &__description {
    width:calc(100% - 220px);
    margin-left: 20px;
    position: relative;
    float: left;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    @include breakpoint(max-width 725px) {
      width: calc(100% - 40px);
      margin: 20px;
      margin-top: 0;
      padding: 20px;
    }
    @include breakpoint(max-width 360px) {
      padding: 0px;
    }
    .flexslider {
      border: none;
      margin-bottom: 0;
      box-sizing: border-box;
      padding: 10px;
      position: relative;
      .flex-viewport {
        padding: 30px 0;
        margin: 0 30px;
        box-sizing: border-box;
        @include breakpoint(max-width 725px) {
          padding: 100px 0;
          margin: 0 100px;
        }
        @include breakpoint(max-width 580px) {
          padding: 50px 0;
          margin: 0 50px;
        }
        @include breakpoint(max-width 400px) {
          padding: 20px 0;
          margin: 0 20px;
        }
      }
      .flex-control-thumbs {
        margin-top: 70px;
        @include breakpoint(max-width 725px) {
          display: none;
        }
      }
      .flex-control-thumbs li{
        width: 33%;
      }
      .flex-direction-nav {
        height: 40px;
        width: 96px;
        position: absolute;
        top: 270px;
        right: 20px;
        @include breakpoint(max-width 992px) {
          top: 200px;
          right: 0;
          height: 25px;
        }
        @include breakpoint(max-width 725px) {
          position: relative;
          margin: 0  auto;
          top: -50px;
        }
        @include breakpoint(max-width 580px) {
          top: -30px;
        }
        @include breakpoint(max-width 400px) {
          top: 0;
        }
      }
      .flex-prev {
        background: url(../img/icons/flex-prev-left.png) center center no-repeat;
        opacity: 1;
        z-index: 5;

      }
      .flex-prev::before {
        content: '';
        width: 100%;
        height: 100%;
      }
      .flex-next {
        background: url(../img/icons/flex-next-right.png) center center no-repeat;
        opacity: 1;
        z-index: 5;
      }
      .flex-next::before {
        content: '';
        width: 100%;
        height: 100%;
      }
      .flexslider:hover .flex-direction-nav .flex-prev,
      .flexslider:hover .flex-direction-nav .flex-next{
        opacity: 1;
        left: 0;
      }
    }
    &__slider {
      width: 50%;
      position: relative;
      float: left;
      @include breakpoint(max-width 725px) {
        width: 100%;
      }
      .slides {
        img {
          max-width: 100%;
        }
      }
    }
    &__block {
      padding: 10px;
      width: 50%;
      position: relative;
      float: left;
      box-sizing: border-box;
      @include breakpoint(max-width 725px) {
        width: 100%;
      }
      h2 {
        font-size:25px;
        font-weight: 700;
        margin-top: 0;
        @include breakpoint(max-width 992px) {
          font-size: 17px;
          margin-bottom: 0;
        }
        @include breakpoint(max-width 725px) {
          font-size: 20px;
        }
      }
      p {
        font-size: 12px;
        color: #cccccc;
        @include breakpoint(max-width 992px) {
          font-size: 8px;
          margin-top: 0;
        }
        @include breakpoint(max-width 725px) {
          font-size: 10px;
        }
        span {
          position: relative;
          float: left;
          clear: both;
          display: block;
          margin-top: 10px;
          color: #2c3e50;
          @include breakpoint(max-width 992px) {
            margin-top: -5px;
          }
        }
      }
      .characteristics {
        background: #fff;
        margin-bottom: 5px;
        width: 100%;
        position: relative;
        float: left;
        clear: both;
        height: 60px;
        &__img {
          background-color: #eee;
          margin-left: 2%;
          position: relative;
          float: left;
          width: 27%;
          text-align: center;
          @include breakpoint(max-width 725px) {
            width: 32%;
          }
          &:first-child {
            margin-left: 0;
          }
          img {
            margin-top: 10px;
            height: 20px;
            @include breakpoint(max-width 992px) {
              height: 15px;
            }
          }
          p {
            color: #2c3e50;
            margin-top: 0;
            font-size: 10px;
            margin-bottom: 0;
            line-height: 15px;
            @include breakpoint(max-width 992px) {
              font-size: 8px;
              line-height:10px;
            }
          }
        }
      }
      .horizontal-line {
        background-color: #eeeeee;
        height: 1px;
        width: 100%;
        margin: 10px 0;
        position: relative;
        float: left;
        clear: both;
        @include breakpoint(max-width 992px) {
          margin-bottom: 3px;
        }
      }
      h3 {
        position: relative;
        float: left;
        color: #ffa438;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        margin: 5px 0;
        @include breakpoint(max-width 992px) {
          font-size: 13px;
        }
        @include breakpoint(max-width 725px) {
          font-size: 16px;
        }
      }
      .counter {
        width: 93px;
        height: 37px;
        background-color: #eeeeee;
        position: relative;
        float: left;
        margin-right: 30px;
        text-align: center;
        @include breakpoint(max-width 992px) {
          height: 28px;
          width: 62px;
          margin-right: 20px;
        }
        .minus {
          display: inline-block;
          position: relative;
          float: left;
          left: 0;
          width: 10%;
          padding: 10px;
          margin-left: 3px;
          color: #2c3e50;
          @include breakpoint(max-width 992px) {
            height: 22px;
            padding: 5px;
          }
        }
        .cipher {
          display: inline-block;
          position: relative;
          float: left;
          height: 25px;
          width: 25px;
          background-color: #ffffff;
          margin: 0;
          margin-top: 3px;
          color: #2c3e50;
          text-align: center;
          @include breakpoint(max-width 992px) {
            height: 17px;
            width: 20px;
          }
        }
        .plus {
          display: inline-block;
          position: relative;
          float: left;
          padding: 10px;
          right: 0;
          width: 10%;
          color: #2c3e50;
          @include breakpoint(max-width 992px) {
            height: 22px;
            padding: 5px;
          }
        }
      }
      a.btn-orange {
        position: relative;
        float: left;
        clear: right;
        @include breakpoint(max-width 992px) {
          padding: 5px 20px;
        }
      }
      ul {
        position: relative;
        float: left;
        height: 30px;
        padding-left: 0;
        clear: both;
        @include breakpoint(max-width 992px) {
          font-size: 8px;
        }
        @include breakpoint(max-width 725px) {
          font-size: 10px;
        }
        li {
          width: 50%;
          position: relative;
          float: left;
          list-style:none;
          color: #2c3e50;
          line-height: 12px;
        }
      }
      .payment {
        position: relative;
        float: left;
        font-size: 15px;
        text-transform: uppercase;
        width: 100%;
        background-color: #eeeeee;
        padding: 0px 20px;
        box-sizing: border-box;
        @include breakpoint(max-width 992px) {
          padding: 0px 10px;
        }
        @include breakpoint(max-width 725px) {
          text-align: center;
        }
        @include breakpoint(max-width 360px) {
          padding: 0;
        }
        p {
          display: inline-block;
          color: #2c3e50;
          width: 60px;
          margin: 5px 0;
          @include breakpoint(max-width 992px) {
            font-size: 8px;
            width: 40px;
          }
          @include breakpoint(max-width 725px) {
            font-size: 10px;
            width: 60px;
          }

        }
        img {
          padding-left: 10px;
          @include breakpoint(max-width 992px) {
            height: 23px;
            padding-left: 0;
          }
        }
      }
      .delivery {
        position: relative;
        float: left;
        img {
          position: relative;
          float: left;
          margin-top: 15px;
          @include breakpoint(max-width 992px) {
            margin-top: 7px;
          }
        }
        p {
          position: relative;
          float: left;
          width: 120px;
          color: #2c3e50;
          margin: 5px 0;
          margin-left: 10px;
        }
      }
    }
  }
  .for-card-prod {
    position: relative;
    float: left;
    width:100%;
    clear: none;
    @include  breakpoint(max-width 992px) {
      width:calc(100% - 220px);
      margin-left: 20px;
    }
    @include breakpoint(max-width 725px) {
      width: calc(100% - 40px);
    }
    ul {
      li {
        padding: 10px;
        align-self: center;
        @include breakpoint(max-width 480px) {
          text-align: center;
          height: 130px;
          padding-top: 30px;
        }
        img {
          height: 35px;
          @include breakpoint(max-width 480px) {
            width: 100%;
            object-fit: none;
          }
        }
        p {
          margin-bottom: 0;
          @include breakpoint(max-width 480px) {
            width: 100%;
          }
        }
      }
    }
  }
}