.repairs-services{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fafafa;
  &__title{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    h1{
      color: #2c3e50;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__content{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    &__text{
      display: block;
      position: relative;
      float: left;
      width: 396px;
      @include breakpoint(max-width 700px) {
        width: 100%;
      }
      h2{
        color: #ffa438;
        font-size: 20px;
        margin-top: 0;
        font-weight: 700
      }
      p{
        color: #adadad;
        font-size: 15px;
        font-weight: 400;
      }
    }
    &__img{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 396px);
      @include breakpoint(max-width 992px) {
        margin-top: 40px;
      }
      @include breakpoint(max-width 700px) {
        display: none;
      }
      img{
        width: 100%;
        object-fit: cover;
        padding-left: 25px;
        box-sizing: border-box;
      }
    }
  }

}