.reviews-feedback {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fafafa;
  &__form {
    display: block;
    position: relative;
    float: left;
    width: 380px;
    h1{
      color: #2c3e50;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
    }
    input{
      width: 100%;
      display: block;
      height: 37px;
      border: 1px solid #dadae2;
      background-color: #ffffff;
      box-sizing: border-box;
      margin-bottom: 12px;
      padding-left: 19px;
      color: #a3a3a3;
      font-size: 15px;
      font-weight: 400;
      &::placeholder{
        opacity: 1;
      }
    }
    textarea{
      display: block;
      width: 100%;
      border: 1px solid #dadae2;
      background-color: #ffffff;
      box-sizing: border-box;
      max-width: 100%;
      padding-left: 19px;
      height: 180px;
      max-height: 180px;
      margin-bottom: 12px;
      color: #a3a3a3;
      font-size: 15px;
      font-weight: 400;
      &::placeholder{
        opacity: 1;
      }
    }
    button{
      width: 164px;
      height: 37px;
      background-color: #ffa438;
      border: none;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 70px;
    }
  }
  &__img {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 380px);
    img{
      width: 100%;
      object-fit: cover;
      position: relative;
      bottom: -41px;
    }
  }
}