.shipping-and-payment{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: #fafafa;
  &__absolute{
    display: block;
    position: absolute;
    right: -63px;
    top: 39px;
    z-index: 1;
    @include  breakpoint(max-width 992px) {
      display: none;
    }
  }
  &__title{
    color: #2c3e50;
    font-size: 25px;
    font-weight: 700;
    display: block;
    position: relative;
    float: left;
    margin-top: 0;
    width: 100%;
  }
  &__warning{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    h4{
      font-size: 12px;
      color: #3c9dd0;
      font-weight: 700;
      margin: 0;
    }
    ol{
      padding: 0;
      margin-left: 10px;
      color: #bfbfbf;
      font-weight: 400;
      font-size: 12px;
    }
  }
  &__delivery{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    h2{
      color: #ffa438;
      font-size: 20px;
      font-weight: 700;
    }
    &__text{
      width: 692px;
      display: block;
      position: relative;
      float: left;
      @include breakpoint(max-width 992px) {
        width: 100%;
        float: none;
      }
      p{
        color: #adadad;
        font-size: 15px;
        font-weight: 400;
      }
    }
    &__table{
      display: block;
      position: relative;
      float: left;
      width: 645px;
      margin-bottom: 44px;
      @include breakpoint(max-width 992px) {
        margin: 0 auto 44px auto;
        float: none;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
      }
      table>thead>tr{
        height: 51px;
        text-align: center;
        background-color: #e8e8e8;
        @include breakpoint(max-width 500px) {
          height: 40px;
        }
        td{
          width: 212px;
          color: #2c3e50;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          @include breakpoint(max-width 500px) {
            font-size: 10px;
          }
        }
      }
      table>tbody>tr{
        height: 51px;
        text-align: center;
        background-color: #f2f2f2;
        @include breakpoint(max-width 500px) {
          height: 40px;
        }
        td{
          width: 212px;
          color: #2c3e50;
          font-size: 12px;
          font-weight: 400;
          @include breakpoint(max-width 500px) {
            font-size: 9px;
          }
        }
      }
    }
  }
}