.btn-orange {
  display: inline-block;
  background-color: #ffa438;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  width:auto;
  font-size: 12px;
}
.clearfix {
  overflow: hidden;
  clear: both;
  height: 0;
  width: 100%;
}